[submodule "core"]
	path = core
	url = git://gitorious.org/qutim/qutim.git
[submodule "translations"]
	path = translations
	url = git://gitorious.org/qutim/translations.git
[submodule "protocols"]
	path = protocols
	url = git://gitorious.org/qutim/protocols.git
[submodule "plugins"]
	path = plugins
	url = git://gitorious.org/qutim/plugins.git
