CMakeLists.txt.user
.directory
.DS_Store
*.kde4
qtcreator-build
*.user
build
android
libs
debian_harmattan/qutim
debian_harmattan/qutim-dbg
*-debug
*-release

#ignoring Win#
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/