/*   */

body {
	/*background: url("Images/bg.gif") fixed;*/
	background: #FFFFFF;
}

#Chat {
	position: static !important;
}

div {
	overflow: auto;
	padding: 1px;
	/*letter-spacing: 0.05em;*/
}

a:link {
	color: #007fff;
	text-decoration: none;
}

a:visited {
	color: #eb3fa5;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:active, a:focus {
	color: #6D98AB;
	text-decoration: none;
}

.history .Time {
	color: grey;
	font-size: 8pt;
}

.history .Sender {
	color: #A40000 !important;
	font-size: 8pt;
}

.history .Message {
	font-size: 8pt;
	color: grey;
}


.status .Message {
	color: #509d1f !important;
}

.message .incoming .Time, .message .outgoing .Time{
	color: black;
}

.incoming:not(.history) .Time,
.status .Time,
.outgoing:not(.history) .Time   {
	color: black;
}

.action .Sender, .action .Message{
	margin-top: 4px;
	margin-bottom: 4px;
	font-style: italic;
	background: transparent;
	color: #303ae6;
}

.outActionTime, .inActionTime {
	font-style: normal;
	color: #000 !important;
}

.incoming:not(.mention) .Sender {
	color: #005afa;
	 /*text-align: right;*/
	font-weight: 500;
}

.outgoing:not(.mention) .Sender  {
	/*text-align: right;*/
	font-weight: 500;
}

.outgoing .Sender {
	color: #ff0052 !important;
}

.outgoing:not(.history) .Message,
.incoming:not(.history) .Message {
	 color: #20060f; 
}

.outgoing .Sender{
	color: #437ee0 !important;
}

.notDelivered {
	color: #921616;
}

.delivered {
	color: #000;
}

.mention:not(.history) .Sender {
	font-weight: bold;
}

.mention:not(.history) .Message {
	color: #ff8482 !important;
	font-weight: bold;
}
