/*   */

body {
	direction: %messageDirection%;
	/*background: url("Images/bg.gif") fixed;*/
	background: #FFFFFF;
	font: 11pt Arial;
}

div {
	overflow: auto;
	padding: 1px;
	letter-spacing: 0.05em;
}

a:link { color: #007fff; text-decoration: none;}
a:visited { color: #eb3fa5; text-decoration: none;}
a:hover { text-decoration: underline; }
a:active { color: #6D98AB; text-decoration: none; }

.inСontext,
.inNextСontext,
.outСontext,
.outNextСontext, 
*.history .inActionTime, *.history .outActionTime{
	color: grey;
	font: 8pt Arial;
}

.inСontextSender, .outСontextSender, .inNextСontextSender, .outNextСontextSender {
	color: #A40000 !important;
}


.statusMessage{
	color: #509d1f;

}

.inNextContentTime,
.outNextContentTime{
	color: black;
}

.inContentTime,
.statusTime,
.outContentTime   {
	color: black;
}
.outAction,
.inAction  {
	margin-top: 4px;
	margin-bottom: 4px;
	font-style: italic;
	/*text-align: left;
	margin-left: 20px;
	margin-right: 20px;*/
	background: transparent;
	color: #303ae6;
}

.outActionTime, .inActionTime {
	font-style: normal;
	color: #000 !important;
}

.inContentSender,
.inNextContentSender {
	color: #005afa;
	 /*text-align: right; */
	font-weight: 500;
}

.outContentSender,
.outNextContentSender  {
color: #ff0052;
text-align: right;
}
.outContentMessage,
.outNextContentMessage {
	color: #20060f;
}

.inContentMessage,
.inNextContentMessage {
	 color: #20060f; 
}
.inContentMessage.highlight, .inNextContentMessage.highlight {
	color: #ff8482 !important;
	font-weight: bold; /* Obsolete */
}

.inContentSender.highlight,
.inNextContentSender.highlight {
	color: #005afa;
	 /*text-align: right; */
	font-weight: bold;
}

.outContentSender span,
.outNextContentSender span,
.outActionSender span,
.outActionMessage span {
	color: #437ee0 !important;
}

.notDelivered {
	color: #921616;
}

.delivered {
	color: #000;
}

*.mention {
	color: #ff8482 !important;
	font-weight: bold;
}
