@importi url("../main.css");
div.m_received {
    background-image: url('../Images/Gray/inmsg.svg');
}

div.m_sending, div.notDelivered {
    background-image: url('../Images/Gray/outmsg.svg');
}

div.m_sent, div.delivered {
    background-image: url('../Images/Gray/outmsgok.svg');
}

div.m_info {
    background-image: url('../Images/Gray/wink.svg');
}

div.m_action {
	background-image: url('../Images/Gray/action.svg');
}

div.m_topic {
    background-image: url('../Images/Gray/topic.svg');
}

.action {
	background-color: #e6e6e6;
}

.mention,
.incoming.mention {
	background-color: #e6e6e6;
}