body {
	background-color: #F0F0F0;
	height: 101%;
}
hr {
    border:0px solid white;
    border-bottom:1px dotted black;
}

a:link		{	text-decoration: none;		color: #3473e3;	}
a:visited	{	text-decoration: none;		color: #3473e3;	}
a:hover		{	text-decoration: underline;	color: #d63434;	}
a:active	{	text-decoration: none;		color: #d63434;	}

.KopeteMessage {
	margin-top: 4px;
	border-bottom: 1px solid #e6e6e6;
	padding-bottom: 4px;
} 
div.m_received,div.m_sending,div.m_sent,div.m_info, div.delivered, div.notDelivered, div.m_action, div.m_topic {
	width: 16px;
	height: 16px;
	float: left;
	margin-right: 4px;
}

.inMetaContact, .outMetaContact, .inActionMetacontact, .outActionMetacontact, .InternalDelim, .outContentTime, .inContentTime {
	font-weight: bold;
}
.inContentTime, .inMetaContact {
	color: #D63434;
}
.inMetaContact {
	cursor: pointer;
}
.outContentTime, .outMetaContact {
	color: #3473E3;
}
.inActionTime, .inActionMetacontact, .inActionMessage,
.outActionTime, .outActionMetacontact, .outActionMessage {
	color: green;
}
.InternalDelim{
	color: #858585;
	font-weight: bold;
}
.InternalMessage, .InternalTime {
	color: #858585;
}

.mention,
.incoming.mention {
/*	color:#800080;*/
	background-color: #e6e6e6;

	padding: 3px;
	padding-left: 5px;

	border-left: 3px dotted #D63434;

	-webkit-border-radius: 2px;
			border-radius: 2px;
}
/*.mention .contentText {
	color:#008080;
}
*/

/*TOOLTIP*/

.toolTip {
	min-width: 70px;
	padding: 3px;
	position: absolute;
	border: solid 1px #858585;
	background-color: #e6e6e6;

	-webkit-border-radius: 3px;
			border-radius: 3px;

	-webkit-box-shadow: 0px 1px 3px #858585;
			box-shadow: 0px 1px 3px #858585;
}
.toolTip span {
	float: left;
	clear: both;
	/*white-space: nowrap;*/
	font-weight: bold;
	margin-bottom: 3px;
}
.toolTip img {
	max-width: 64px;
	max-height: 64px;
	display: block;
	clear: both;
}

/*URL PREVIEW*/

.urlpreview {
	color: #707070;
	margin-top: 5px;
}

.urlpreview-image {
	box-sizing: border-box;
	
	height: auto;
	max-width: 99%;

	padding: 10px;
	background: white;
	border: 1px solid #e6e6e6;
	box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
}

/*YANDEX RCA*/

.yandex-rca {

	padding: 10px;
	background: white;
	border: 1px solid #e6e6e6;
	box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.2);
}

.yandex-rca-content {

}

.yandex-rca-image {
	box-sizing: border-box;

	margin-right: 10px;
	padding: 3px;
	border: 1px solid #e6e6e6;
}

/*EXPERIMENTAL*/

div {
	overflow: hidden;
}

/*older messages*/

.history {
	color: #707070;
}