#topic {
	color: #e6e6e6;
	background: #333;

	height: 18px;
	min-width: 70px;

	position: fixed;
	top: 0px;
	left: 80%;
	right: 0px;

	padding: 5px;
	padding-left: 10px;
	margin-left: 8px;
	margin-right: 8px;

	-webkit-box-shadow: 0px 1px 3px #858585;
			box-shadow: 0px 1px 3px #858585;

	opacity: 0.5;
	
	border-radius: 0px 0px 3px 3px;
	
	-webkit-transition: all 0.5s linear;

	overflow: hidden;
}

#topic:hover {
	height: 350px;

	top: 0px;
	left: 0px;
	right: 0px;

	opacity: 0.95;
}