
	@import url("../base.css");
	
	.outgoing_row {
	background: url('../images/outgoing_back.png') repeat-x left;
	}
	
	.incoming_row {
	background: url('../images/incoming_red.png') repeat-x left;
	}
	
	.message_row #cursor, .message_row_out #cursor{
	background: url('../images/outgoing_cursor.png') no-repeat left;
	}
	
	.message_row_in #cursor{
	background: url('../images/incoming_cursor.png') no-repeat left;
	}

	.outgoing_row, .incoming_row {
	font-size: 12px;
	}

	.message_row #message{
	font-size: 12px;
	}

	.message_row_out #message, .message_row_in #message {
	font-size: 12px;
	}

	.message_row #msg_date {
	font-size: 12px;
	}
	.message_row_out #msg_date, .message_row_in #msg_date {
	font-size: 12px;
	}

	.status_row {
	font-size: 12px;
	}

	.timestamp
	{
	padding-right: 12px;
	}
