
	@import url("../base.css");
	
	.outgoing_row {
	background: url('../images/outgoing_back.png') repeat-x left;
	}
	
	.incoming_row {
	background: url('../images/incoming_red.png') repeat-x left;
	}
	
	.message_row #cursor, .message_row_out #cursor{
	background: url('../images/outgoing_cursor.png') no-repeat left;
	}
	
	.message_row_in #cursor{
	background: url('../images/incoming_cursor.png') no-repeat left;
	}