#topic {
	color: #509d1f;
	
	/*height: 40px;
	position: fixed;
	background: #333;
	top: 0px;
	left: 0px;
	right: 0px;
	overflow: hidden;
	padding-left: 30px;
	padding-top: 10px;
	resize: vertical;
	
	border-bottom: 2px solid rgba(0,0,0,0.3);
	
	max-height: 100%;*/
}
