<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" 
        "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>Russian</string>
	<key>CFBundleGetInfoString</key>
	<string>Glass qutIM chat Style</string>
	<key>CFBundleIdentifier</key>
	<string>qutIM.ice-glass.style</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>CFBundleName</key>
	<string>Ice-Glass</string>
	<key>CFBundlePackageType</key>
	<string>qutimChatStyle</string>
	<key>DefaultBackgroundColor</key>
	<string>FFFFFF</string>
	<key>DefaultFontFamily</key>
	<string>Sans</string>
	<key>DefaultFontSize</key>
	<integer>12</integer>
	<false/>
	<key>DisplayNameForNoVariant</key>
	<key>ShowsUserIcons</key>
	<false/>
</dict>
</plist>
