body {
	direction: %messageDirection%;
	background: #FFFFFF;
}

div {
	overflow: auto;
}

a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: underline; }
a:active { text-decoration: none; }

.title {
	background: url('images/glass.png') left top repeat-x;
	border-bottom: #6C8291 1px solid;
	padding-left: 5px;
}
.statusTitle {
	color: #757B81;
}
.incomingTitle {
	color: #000000;
	font-size: 0.8em;
	font-weight: bold;
}
.outcomingTitle {
	color: #39466A;
	font-size: 0.8em;
	font-weight: bold;
}
 .internalMessage {
	margin-top: 5pt;
	margin-left:10pt;
}
.status
{
	border-top: #6C8291 1px solid;
	border-left: #6C8291 1px solid;
	border-right: #6C8291 1px solid;
	border-bottom: #6C8291 1px solid;
	background : #F0F4F7;
	font-size: 0.7em;
	margin-bottom:5px;
	color: #505559;
}

.message
{
	border-top: #6C8291 1px solid;
	border-left: #6C8291 1px solid;
	border-right: #6C8291 1px solid;
	border-bottom: #6C8291 1px solid;
	background : #F2F6F8;
	margin-bottom:10px;
	color: #33333;
}
.cmessage
{
	border-top: #6C8291 1px solid;
	border-left: #6C8291 1px solid;
	border-right: #6C8291 1px solid;
	border-bottom: #6C8291 1px solid;
	background : #F2F6F8;
	margin-bottom:10px;
	color: #33333;
	opacity: 0.6;
}
.avatar
{
	opacity:.25;
	max-width:64px;
	max-height:64px;
}

.m_sending {
	min-height: 16px;
	margin-right:5px;
	width: 16px;
	float: left;
	background: url('images/inmsg.png');
}
.m_sended {
	min-height: 16px;
	width: 16px;
	float: left;
	background: url('images/delmsg.png');
	margin-right:5px;
}
.m_wink {
	min-height: 16px;
	width: 16px;
	float: left;
	background: url('images/wink.png');
	margin-right:5px;
	