QPushButton {
	border: 3px;
	border-image: url(:/sevenlist/button.png);
}

QPushButton:hover {
	border-image: url(:/sevenlist/button-hover.png);
}

QPushButton:pressed {
	border-image: url(:/sevenlist/button-pressed.png);
}

QPushButton::menu-indicator {
	image: url(:/sevenlist/menu-indicator.png);
	subcontrol-origin: padding;
	subcontrol-position: center right;
}

QPushButton::menu-indicator, QPushButton::menu-indicator:pressed, QPushButton::menu-indicator:open, QPushButton:hover {
	 position: relative;
	 right: 3px; /* shift the arrow by 1 px */
 }
