@-webkit-keyframes highlight {
	0% {
		background-color: #FFFFA0;
	}

	33% {
		background-color: #FFFFA0;
	}	
	100% {
		background-color: white;
	}
}

body {
	background: url('Images/background.png') repeat;
}

.replico {
	margin-bottom: 1em;
}

.inContact, .outContact, .inActionContact, .outActionContact {
	font-weight: bold;
}

.inContentTime, .outContentTime, .statusTime, .statusMessage {
	font-size: smaller;
}

.inContact, .inContentTime {
	color: red;
}

.outContact, .outContentTime {
	color: blue;
}

.inActionContact, .inActionMessage, .outActionContact, .outActionMessage {
	color: green;
}

.statusMessage, .statusTime {
	color: gray;
}


.m_highlight {
	-webkit-animation-name: highlight;
	-webkit-animation-duration: 1.2s;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-timing-function: linear;
}

.m_sending {
	border-left: 2pt solid #FFFFA0;
	padding-left: 4pt;
}

.m_sended {
	border-left: 2pt solid #A0FFA0;
	padding-left: 4pt;
}

.m_received {
	border-left: 2pt solid #FFFFA0;
	padding-left: 4pt;
}
